@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Tangerine', serif;
  }
  
  .slider {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .slides {
    position: absolute;
    top: 0;
    left: 0;
    width: 300%;
    height: 100%;
    transition: 2s ease;
  }
  
  .slide {
    width: 33.33%;
    height: 100%;
    float: left;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .slide::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
  }
.form-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.3 ),)rgba(0, 0, 0, 0.3 );
    width: 380px;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 60px #000 ;
  }
  h1{
    text-transform: uppercase;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2em;
  }
  .control input{
    width: 100%;
    display: block;
    padding: 5px;
    color: #fff;
    border: none;
    outline: none;
    margin: 1em 0;
    border-radius: 10px;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    letter-spacing: 2.0px;

  }
  .control label, span , h1{
    color: #fff;
    font-weight: 500;
  
  }
  .control input[type="submit"]{
    background: grey;
    color: black;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity 0.3s ease;
  }
  .control input[type="submit"]:hover{
    opacity: 1;
    color: whitesmoke;
    background-color: blue;
    
  }
  .link a{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: opacity 0.3s ease;
  }
  .link a:hover{
    opacity:1;
  }
  @media (max-width: 420px){
    .form-container{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: linear-gradient(rgba(0, 0, 0, 0.3 ),)rgba(0, 0, 0, 0.3 );
      width: 300px;
      padding: 50px 30px;
      border-radius: 10px;
      box-shadow: 7px 7px 60px #000 ;
    }
  }